In [6]:
print ("Hello World!")

Hello World!

In [9]:
print ("Hello \
world!")

Hello world!

In [12]:
print ("Hello \nworld!")

Hello
world!

In [17]:
num1 = 50
num2 = 100
if num1 > num2:
    print(num1, 'is greater than', num2)
elif num2 > num1:
    print(num2, 'is greater than', num1)
else:
    print('Both numbers are equal')

100 is greater than 50

In [23]:
num1 = 2
num2 = 4
if num1 > num2:
    print("num1", num1, "is greater than", "num2", num2)
elif num2 > num1:
    print("num2", "(",num2,")", "is greater than", "num1","(", num1,")")
else:
    print("num1", num1, "is equal to", "num2", num2)

num2 ( 4 ) is greater than num1 ( 2 )

In [ ]:
addition = 10 + 20 + \
           30 + 40 + \
           50 + 60 + 70
print(addition)
# Output: 280

In [24]:
addition = 10 + 20 +\
           30 + 40 +\
           50 + 60
print(addition)

210

In [26]:
addition = (10 + 20 +
            30 + 40 +
            50 + 60 + 70)
print(addition)
# Output: 280

280

In [25]:
add = (10+20
       +30+40
       +50+60)
print(add)

210

In [31]:
# list of strings
names = ['Emma',
         'Kelly',
         'Jessa']
print(names)

['Emma', 'Kelly', 'Jessa']

In [30]:
names = ['swathi', 
         'krishna', 
         'sriramulu']
print(names)

['swathi', 'krishna', 'sriramulu']

In [35]:
students = {'Emma': 70,
            'Kelly': 65,
            'Jessa': 75}
print(students)

{'Emma': 70, 'Kelly': 65, 'Jessa': 75}

In [41]:
humans = {'swathi':4,
          'sriramulu':2,
          'krishna':6}
print("humans-Dictionary:", humans)

humans-Dictionary: {'swathi': 4, 'sriramulu': 2, 'krishna': 6}

In [21]:
a = 10
b = 20.3
c = "Python"
d  = True
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
a = 10
print(float(a))   # 10.0
print(str(a))     # '10'
print(int(3.99))  # 3

10.0
10
3

In [3]:
x = 10
print(type(x))   # int

x = "Hello"
print(type(x))   # str

<class 'int'>
<class 'str'>

In [4]:
name = "Alice"
print("Hello,", name)

Hello, Alice

In [5]:
print ("Hello", name)

Hello Alice

In [6]:
print ("Hello", x)

Hello Hello

In [1]:
name = input("Enter your name: ")
print("Hi,", name)

Enter your name:  Vikky

Hi, Vikky

In [2]:
age = int(input("Enter your age: "))
print("Next year you’ll be", age + 1)

Enter your age:  35

Next year you’ll be 36

In [3]:
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

13
7
30
3.3333333333333335
1
3
1000

In [9]:
nmbr1 = input ("enter number 1: ")
nmbr2 = input ("enter number 2: ")
print("Addition:",nmbr1 + nmbr2)

enter number 1:  25
enter number 2:  35

Addition: 2535

In [10]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Remainder:", num1 % num2)
print("Floor Division:", num1 // num2)
print("Power:", num1 ** num2)

Enter first number:  3
Enter second number:  5

Addition: 8.0
Subtraction: -2.0
Multiplication: 15.0
Division: 0.6
Remainder: 3.0
Floor Division: 0.0
Power: 243.0

In [12]:
nm1 = int(input ("enter first number:" ))
nm2 = int(input ("enter second number:" ))

enter first number: 4
enter second number: 3

In [5]:
nmone = int(input ("enter number one"))
nmtwo = int(input("enter number two"))
print (type(nmone), "nmone", nmone, type(nmtwo), "nmtwo", nmtwo, "addition:", nmone + nmtwo)

enter number one 5
enter number two 8

<class 'int'> nmone 5 <class 'int'> nmtwo 8 addition: 13

In [6]:
print ("Masai School")
print ("A Transformation in Education")

Masai School
A Transformation in Education

In [6]:
print ("Masai School\nA Transformation in Education")

Masai School
A Transformation in Education

In [5]:
number = 5
print (number * 3 + 7 - 10)

12